.title {
    margin-bottom: 20px;
}

.reserve-table-card {
    padding: 50px;
    border: 1px solid #999999;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    background-color: #66BBFF;
}