.title {
    margin-bottom: 20px;
}

.reserve-table-card {
    padding: 50px;
    border: 1px solid #999999;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    background-color: #66BBFF;
}

.good{
    color: rgba(67, 255, 67, 0.744);
}

.error{
    color: rgba(255, 48, 48, 0.897);
}