.rest-card {
    max-width: 600px;
    border: 1px solid #999999;
    margin: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    display: inline;
    color: white;
    padding: 10px;
    background-color: #008CFF;
    margin-bottom: 200px;
}

/* .center {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
} */

.action {
    background-color: #008CFF;
    border: solid 1px #666666;
    color: white;
}
